// Minimum page width
body {
    min-width: 360px;; /* Suppose you want minimum width of 1000px */
    width: auto !important; /* Firefox will set width as auto */
}

.padding-all-default{
    padding: $base-spacing-unit;
}

//Logo dimensions for logo math
$logo-dimensions: 32px;

.logo-text {
    position: relative;

    &::before {
        display: inline-block;
        position: relative;
        bottom: 0px;
        content: "";
        background-image: url("/img/whisk-min.svg");
        background-repeat: no-repeat;
        background-size: $logo-dimensions $logo-dimensions;
        height: $logo-dimensions;
        width: $logo-dimensions;
        padding-right: $logo-dimensions + $base-spacing-unit;
        vertical-align: text-bottom;
    }
}

.article-content-first{
    z-index: 1;
    text-shadow: 0px 2px 5px $black;
    background: rgba(33, 33, 33, .5);
    border-radius: $base-spacing-unit;
    margin: 0 $base-spacing-unit;
}

.menu-logo {
    width: 30px;
    margin-right:10px;
}

.blur {
    background: inherit;
    background-size:cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3x);
    filter: blur(3px);
    position:absolute;
    width:100%;
    height:100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.footer {
    // this footer override of auto is necessary to make sure we fill up empty space
    // in the design between short content and the footer so it doesn't float in the
    // middle of the page
    margin-top: auto;
}

// Twitch embed stuff 
.twich-container > .row{
    padding: 0 $base-spacing-unit;
}

.twitch-embed {
    width: 100%;
    margin: auto;
    text-align: left;
}

.twitch-embed .twitch-video {
    padding-top: 56.25%;
    position: relative;
    height: 0;
}

.twitch-embed .twitch-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.twitch-embed .twitch-chat {
    height: 400px;
}

.twitch-embed .twitch-chat iframe {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 850px) {
    .twitch-embed {
        position: relative;
    }
    .twitch-embed .twitch-video {
        width: 75%;
        padding-top: 42.1875%;
    }
    .twitch-embed .twitch-chat {
        width: 25%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

ol, ul {
    margin-left: 3rem;
}

.large{
    font-size: 1.2rem;
}