<div class="footer-padding" ></div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">{{site.title}}</a>
          </h2>
          <div class="top"><ion-icon name="arrow-up"></ion-icon></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} {{site.title}}
            <br> Theme based on Galada by <a href="https://github.com/artemsheludko">Artem Sheludko</a></p>
          </div>
          <div class="footer-social">
            <ul class="list-reset">
              {% if site.twitch %}
              <li><a href="{{ site.twitch }}">Twitch</a></li>
              {% else %} {% endif %}

              {% if site.facebook %}
              <li><a href="{{ site.facebook }}">Facebook</a></li>
              {% else %} {% endif %}

              {% if site.twitter %}
              <li><a href="{{ site.twitter }}">Twitter</a></li>
              {% else %} {% endif %}

              {% if site.instagram %}
              <li><a href="{{ site.instagram }}">Instagram</a></li>
              {% else %} {% endif %}

              {% if site.instagram2 %}
              <li><a href="{{ site.instagram2 }}">Business Instagram</a></li>
              {% else %} {% endif %}

              {% if site.tiktok %}
              <li><a href="{{ site.tiktok }}">Tiktok</a></li>
              {% else %} {% endif %}

              {% if site.discord %}
              <li><a href="{{ site.discord }}">Discord</a></li>
              {% else %} {% endif %}

              {% if site.pinterest %}
              <li><a href="{{ site.pinterest }}">Pinterest</a></li>
              {% else %} {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->