<div class="container twich-container ">
	<div class="row">
        <h3 class="margin-center">Watch JenPal Live on Twitch</h3>
        <div class="twitch-embed">
            <div class="twitch-video">
                <iframe
                    src="https://player.twitch.tv/?channel=jenpalskitchen&parent=jenpalskitchen.com&parent=localhost&autoplay=false"
                    frameborder="0" scrolling="no" allowfullscreen="true" height="100%" width="100%">
                </iframe>
            </div>
            <div class="twitch-chat">
                <iframe frameborder="0" scrolling="no"
                    src="https://www.twitch.tv/embed/jenpalskitchen/chat?parent=localhost&parent=jenpalskitchen.com&darkpopout"
                    height="100%" width="100%">
                </iframe>
            </div>
        </div>
    </div>
</div> 